body{grid-template-areas: 
    "header header header"
    "nav article aside"
    "footer footer footer";
    display : grid;
    grid-gap : 10 px;
    background-color: #fff;
    color: #444;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{

}

article{
    grid-area: article;
}

p{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif, 'Courier New', Courier, monospace,Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-align: justify;
}

h1{

}

h2{

}

.titre2{

}

.titre3{

}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}


a{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: green;
}

a:active{
    color: red;
}

a:focus{
    background-color: yellow;
}

a:visited{
    color: grey;
}

p:hover{
    border-left: 3px dotted black;
}

